*{
  padding: 0px;
  margin: 0px;
}
body{
  text-align: center;
background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.buttons{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  background-image: linear-gradient( 89.2deg,  rgba(255,255,255,1) -1.3%, rgba(253,109,38,1) 281.6% );
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  color: black;
}
#container{
padding-top: 10vmin;
height: 70vh;
display: flex;
justify-content: center;
align-items: center; 
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.new-btn{
padding: 1.2rem;
font-size: 1.5rem;
border-radius: 1rem;
border: none;
color: #fff
}